.box__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    font-family: sans-serif;
}

.box-primary, .box-primary-lighter, .box-primary-darker, .box-secondary {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
    color: #fff;
    height: auto;  // Ensure a consistent height for each box
}

.box-primary {
    background-color: #112055;
}

.box-primary-lighter {
    background-color: #1e366e;
}

.box-primary-darker {
    background-color: #0d1435;
}

.box-secondary {
    background-color: #4f9d92;
    color: #000;
}
